/* rem and em do NOT depend on html font size in media queries !
Instead , 1rem = 1em = 16px */

/********************************/
/*BELOW 1344px (Smaller desktop)*/
/********************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/********************************/
/*BELOW 1200px (Landscape Tablets)*/
/********************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}

/********************************/
/*     BELOW 1100px             */
/********************************/
@media (max-width: 68.75em) {
  .section-expertise {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .section-experience {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .section-clients {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .section-contact {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .section-histoire {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .section-chiffres {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .section-all-expertises {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .section-experiences-flip {
    
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .slider-description {
    font-size: 1.8rem;
  }

  .btn {
    font-size: 2.4rem;
  }
}

/********************************/
/*         BELOW 1008px          */
/********************************/
@media (max-width: 63em) {
  .main-nav-list {
    gap: 2rem;
  }

  .section-clients {
    padding: 4.8rem 0;
  }
}

/********************************/
/*         BELOW 947px          */
/********************************/

@media (max-width: 59.25em) {
  .main-nav-list {
    gap: 1.6rem;
  }
}

/********************************/
/*BELOW 944px (Tablets)*/
/********************************/
@media (max-width: 59em) {
  html {
    /* 9px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-image {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meals-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /* MOBILE NAVIGATION*/

  .header {
    justify-content: space-between;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    /*background-color: rgba(255, 255, 255, 0.97);*/
    background-color: #272e63;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
  /*  transition: all 0.5s ease-in;*/

    /* HIDE NAVIGATION*/
    /*Allow NO transitions at all*/
    /* display: none; */

    /* 1) Hide it visually*/

    opacity: 0;

    /* 2) Make it unacessible for mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen reader*/
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);

    z-index: 9999;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-img-box {
    order: 1;
  }

  .hero-text-box {
    order: 1;
    padding-top: 2rem;
  }

  .hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /* MAISON IGUE */

  .hero {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hero-text-box {
    order: 1;
  }

  .hero-img-box {
    order: 2;
    margin-bottom: 2.4rem;
  }

  .mini-slider-wrapper {
    position: relative;
    width: fit-content !important;
    margin: 0 auto;
    height: 100%;
    max-width: 100%;
    border-radius: 1.2rem;
  }

  .mini-slide img {
    max-width: 100%;
    /*height: auto;*/
    display: block;
    border-radius: 1.2rem;
  }

  .flag-icon {
    height: 4.8rem; /* ou plus si nécessaire */
    width: 4.8rem;
  }

  .lang-flag {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lang-flag a {
    padding: 1.2rem 0;
  }
}

/********************************/
/*    BELOW 800px              */
/********************************/
@media (max-width: 50em) {
  .clients-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-breadcrumbs-hero {
    height: 25rem;
  }

  .section-histoire {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
  }

  .heading-secondary {
    font-size: 3.2rem;
  }

  .histoire-description {
    line-height: 1.4;
  }

  .newsletter-text h2 {
    font-size: 2rem;
  }

  .section-map {
    padding-left: 4.2rem;
    padding-right: 4.2rem;
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 3.2rem;
  }

  .hero-img-box {
    order: 1;
  }

  .hero-text-box {
    order: 1;
    padding-top: 2rem;
  }

  .hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .chiffres-overlay {
    height: auto;
  }

  .chiffres-overlay .subheading {
    font-size: 4rem;
  }

  .chiffres-overlay p {
    font-size: 1.4rem;
    line-height: 1.2;
  }

  /* MAISON IGUE */
  .section-clients {
    padding: 6.4rem 2.4rem; /* Réduit les marges intérieures pour éviter que tout soit collé aux bords */
  }

  .clients-grid {
    display: flex;
    flex-direction: column-reverse; /* Texte d'abord, image ensuite */
    align-items: center;
    gap: 4rem; /* Plus d’espace entre texte et image */
  }

  .client-img-box {
    width: 100%;
    max-width: 40rem; /* Taille contrôlée */
    max-height: 400px;
    overflow: hidden;
    border-radius: 1.2rem;
    margin: 0 auto;
  }

  .client-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.2rem;
    display: block;
  }

  .client-text-box {
    text-align: center;
    /*max-width: 60rem;*/ /* Ne pas laisser le texte s'étaler sur tout l'écran */
    margin: 0 auto;
  }

  .client-description {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 2rem; /* Ajout de l’espace entre les paragraphes */
  }

  .grid--footer {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    align-items: center;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 2rem;
  }

  .footer-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .footer-nav {
    gap: 2rem;
  }

  .social-links {
    justify-content: center;
  }

  .contacts {
    font-size: 1.6rem;
  }

  .copyright {
    margin-top: 3.2rem;
    font-size: 1.4rem;
    text-align: center;
  }
}
/********************************/
/*BELOW 704px (Smaller Tablets)*/
/********************************/
@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .pricing-plan {
    width: 100%;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  .expertise-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .expertise-item {
    flex-direction: column;
    height: auto;
  }

  .expertise-img {
    min-height: 32rem;
    height: 100%;
  }

  .expertise-text {
    padding: 3.2rem;
    text-align: center;
  }

  .expertise-text h3 {
    font-size: 2rem;
    line-height: 1.3;
  }

  .expertise-arrow {
    margin-top: 1.2rem;
    justify-content: center;
  }

  .clients-grid {
    display: flex;
    flex-direction: column;
  }

  .client-img-box {
    order: 2;
  }

  .client-text-box {
    order: 1;
  }

  .contact-img-box {
    display: none;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .chiffres-grid {
    grid-template-columns: 1fr;
  }

  /* Ordre : l'image d'abord, puis les chiffres */
  .chiffres-content {
    order: 1;
  }

  .flip-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-img-box {
    order: 1;
  }

  .hero-text-box {
    order: 1;
    padding-top: 2rem;
  }

  .hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /* MAISON IGUE */
  .slide::before {
    background-color: #fff;
  }

  .chiffres-overlay {
    height: 100%;
  }

  .slider-content {
    top: 30%;
  }
}

/********************************/
/*BELOW 600px (Phones)*/
/********************************/
@media (max-width: 37.5em) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-img-box {
    order: 1;
  }

  .hero-text-box {
    order: 1;
    padding-top: 2rem;
  }

  .hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .slider-wrapper {
    height: 100vh;
  }

  .slide-img {
    width: auto;
  }

  .slider-description {
    font-weight: 400;
  }

  .slider-content {
    top: 40%;
    max-width: 80%;
  }
}

/********************************/
/*BELOW 544px (Phones)*/
/********************************/
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-image {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-image-box {
    height: 36rem;
    grid-row: 1;
  }

  .cta-text-box {
    padding: 3.2rem;
  }
}

/********************************/
/*BELOW 500px (Phones)*/
/********************************/
@media (max-width: 31.25em) {
  .slider-heading {
    font-size: 3.2rem;
  }

  .experience-grid-new {
    grid-template-columns: 1fr;
  }

  .btn-center {
    margin-top: 6rem;
  }

  .flip-grid {
    grid-template-columns: 1fr;
  }

  .flip-card {
    max-width: 48rem;
  }

  .flip-overlay {
    padding: 2rem;
  }

  .slider-content {
    top: 40%;
    max-width: 90%;
  }
}

/********************************/
/*BELOW 320px (Phones)*/
/********************************/

@media (max-width: 20em) {
  .slider-heading {
    font-size: 2.8rem;
  }

  .flip-card {
    max-width: 40rem;
  }

  .heading-primary {
    font-size: 3.2rem;
  }

  .section-clients {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .section-expertise {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .section-experience {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .section-contact {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


@media screen and (max-width:940px){
  .container-footer 
  {
 width: 100% !important;display: table;
  }
.prev { left:10px !important; }
.nav-col { float:left !important;width:40%;text-align:center; }
.address-col { float:right !important;width:40%; }
.padding_footer { margin-bottom:10px !important; }
}


/* Device_3 : Apple iPhone 3G & 3GS, Blackberry Bold, Samsung Galaxy ACE, LG Optimus One-with:480; */
@media screen and (max-width:440px){
/*.chiffres-img { width:77% !important;border-radius:8px !important; }
.chiffres-overlay { width:77% !important;border-radius:8px !important; }
*/
  .chiffres-box { padding:10% !important; }
}


